# Default ignored files
/../../dashboard_Valiotti Analytics /.idea/shelf/
/../../dashboard_Valiotti Analytics /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../dashboard_Valiotti Analytics /.idea/httpRequests/
# Datasource local storage ignored files
/../../dashboard_Valiotti Analytics /.idea/dataSources/
/../../dashboard_Valiotti Analytics /.idea/dataSources.local.xml
